html {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #ebf4ed;
  }
  
  button {
    border: 1px solid #f7f4f4;
    padding: 25px 50px;
    color: rgb(244, 239, 239);
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    background-color: rgb(100, 186, 186);
    cursor: pointer;
  }
   
   